body {
	font-family: roboto, helvetica neue, sans-serif;
}

h1, h2, h3, h5 {
	text-align: center;
}

.tablecenter {

	margin-left: auto;
	margin-right: auto;
}

.footnote[alt]:hover:after, span[alt]:hover:after { /*TODO: Fix this lmao */
	content: attr(alt);
	position: absolute;

	margin-top: -20px;
	margin-left: 0px;

	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	line-height: 130%;
	text-align: left;

	color: #5b5b5b;

	max-width: 200px;

	background-color: #fffbb0;
	padding: 3px 6px;
	border: 1px dotted black;
}

/*

Table of Contents:
1. [Introduction](#i-introduction)
	1. [Preface](#a-preface)
	1. [Contents](#b-contents-held-forthwith)
2. [Field Guide](fieldguide.md)
	1. [Introduction](fieldguide.md/#a-field-guide-introduction)
	2. [Explanations](fieldguide.md/#b-explanations)
	2. [Strings](fieldguide.md/#c-strings)
	2. [Winds](fieldguide.md/#d-winds)
	2. [Brass](fieldguide.md/#e-brass)
	2. [Percussion](fieldguide.md/#f-percussion)
	2. [Other Guys](fieldguide.md/#g-other-guys)
3. [Writing](writing.md)
	1. [Introduction](writing.md/#a-writing-introduction)
	3. [Ensembles](writing.md/#b-ensembles)
	3. [Tempo](writing.md/#c-tempo)
	3. [Melodies](writing.md/#d-melodies)
	3. [Harmonies](writing.md/#e-harmonies)
4. [Typesetting](typesetting.md)
	1. [Introduction](typesetting.md/#a-typesetting-introduction)
	4. [Basics](typesetting.md/#b-basics)
	4. [The Look](typesetting.md/#c-the-look)
	4. [The Delivery](typesetting.md/#d-the-delivery)
5. [Pieces](pieces.md)
	1. [Introduction](pieces.md/#a-piece-introduction)
	5. [Ripple](pieces.md/#b-ripple)
	5. [Mr. Blue Sky](pieces.md/#c-mr-blue-sky)
	5. [Life on Mars?](pieces.md/#d-life-on-mars)
	5. [September](pieces.md/#e-september)
	5. [Dancing Queen](pieces.md/#f-dancing-queen)
	5. [Ain't No Mountain](pieces.md/#g-ain't-no-mountain)
6. [Closing Words](closing.md)

*/
