body {
	font-family: roboto, helvetica neue, sans-serif;
}

h1 {
	text-align: center;
}

h2 {
text-align: center;
}

h5 {
	text-align: center;
}

.footnote[alt]:hover:after, span[alt]:hover:after { /*TODO: Fix this lmao */
	content: attr(alt);
	position: absolute;

	margin-top: -20px;
	margin-left: 0px;

	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	line-height: 130%;
	text-align: left;

	color: #5b5b5b;

	max-width: 200px;

	background-color: #fffbb0;
	padding: 3px 6px;
	border: 1px dotted black;
}
